*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;


}
header{
    background: #FFF8F3;
}
.logo{
    color:#181818;
    font-family: "Open Sans";
    font-size: 45px;
    font-weight: 800;
}
.lal{
    color: #FD6E0A;
font-size: 45px;
font-weight: 800;
}
button{
    border-radius: 5px;
background: #FD6E0A;
color:#FFF;
font-size: 20px;
font-weight: 700;
border: none;
padding: 8px 10px;
}
/*nav-related-styles*/
nav{
    display: flex;
    justify-content: space-between;
    padding: 80px 80px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    color:#474747;
font-size: 20px;
font-weight: 400;
padding: 20px;
    
}

/*banner-related-styles*/

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}


.banner-container{
    max-width: 585px;
    
}

.banner-container h2{
    color: #474747;
font-size: 45px;
font-weight: 600;
}
.banner-container h3{
    color:#181818;
font-size: 85px;
font-weight: 700;
}
.banner-container h6{
    color:#757575;
font-size: 18px;
font-weight: 400; 
}
.banner-img img{
 width: 100%;
 background-image: url();
}
/*section-one related styles*/
.section-one, .info {
    background: #FFF8F3;
    margin: 80px 70px;
    padding: 40px 0;
    
}

.section-one h1, .section-two h1{
    color:#181818;
text-align: center;
font-size: 35px;
font-weight: 700;
}
p{
    color:#757575;
    text-align: center;
margin: 0 auto;
font-size: 10px;
font-weight: 200;
line-height: 20px;
max-width: 827px;
}
.info{
    display: flex;
    justify-content: space-around;

}
.section-one p{
    text-align: center;
}


/*container-related-styles*/
.container{
    display: flex;
    justify-content: space-around;
}

.container{
    margin: 70px 80px;
}
.container p{
    color:#757575;
font-size: 10px;
font-weight: 200;
line-height: 28px;
text-align: left;
max-width: 201px;
border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}


/*section three-related-styles*/

.section-three{
    display: flex;
    gap: 50px;
    margin: 80px 70px;
}
.first-div, .second-div{
    max-width: 470px;
}
.section-three .first-div h2, .second-div h2{
    color:#474747;
font-size: 15px;
font-weight: 700;
}
.section-three .first-div p, .second-div p{
    text-align: left;
}
.all{
    text-align: center;
}
.button{
    margin-top: 50px;
}



/*footer-related-styles*/

footer{
    background: #FFF8F3;
    padding: 198px 230px;
    
}


.footerone{
    max-width: 500px;
    
}
.footertwo{
    max-width: 500px;
    
}
.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}


.footer-container *{
    text-align: left;
    margin-bottom: 20px;
}


.contact input[type="text"], .contact input[type="email"], textarea{
    display: block;
    padding: 10px 8px;
    border-radius: 5px;
    border: none;
    outline: none;
    color:#757575;
font-size: 16px;
font-weight: 400;

}